{% extends 'base.html.twig' %}

{% block title %}Post list!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Post list</h1>
    {% for type, messages in app.session.flashBag.all() %}
        {% for message in messages %}
            <div class="alert alert-{{ type }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <a class="text-primary" href="{{ path('post.create') }}">Create</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
            <tr>
        </thead>
        <tbody>
            {% for post in posts %}
            <tr>
                <td>{{ post.id }}</td>
                <td>
                    <a href="{{ path('post.show', {id: post.id}) }}">{{ post.title }} {{ post.id }}</a>
                </td>
                <td>
                    <a class="text-danger" href="{{ path('post.delete', {id: post.id}) }}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
